<footer class="footer">
  <div class="footer-section">
    <p class="section-title">Home</p>
    <ul class="section-list">
      <li>Categorias</li>
      <li>Dispositivos</li>
      <li>Preços</li>
      <li>FAQ</li>
    </ul>
  </div>

  <div class="footer-section">
    <p class="section-title">Filmes</p>
    <ul class="section-list">
      <li>Gêneros</li>
      <li>Em Alta</li>
      <li>Lançamentos</li>
      <li>Populares</li>
    </ul>
  </div>

  <div class="footer-section">
    <p class="section-title">Séries</p>
    <ul class="section-list">
      <li>Gêneros</li>
      <li>Em Alta</li>
      <li>Lançamentos</li>
      <li>Populares</li>
    </ul>
  </div>

  <div class="footer-section">
    <p class="section-title">Suporte</p>
    <ul class="section-list">
      <li>Fale Conosco</li>
    </ul>
  </div>

  <div class="footer-section">
    <p class="section-title">Assinatura</p>
    <ul class="section-list">
      <li>Planos</li>
      <li>Funcionalidades</li>
    </ul>
  </div>

  <div class="footer-section">
    <p class="section-title">Conecte-se Conosco</p>
    <button class="social-btn"></button>
    <button class="social-btn"></button>
    <button class="social-btn"></button>
  </div>  
  
</footer>